body{
    margin: 0;
    height: 100%;
    overflow-x: hidden;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #e0e0e0;
}

.modal{
    background-color: #fff;
}

.card{
    background-color: #fff;
    color: #000;
}

textarea{
    color: #000;
}

.button-css{
    background-color: #403038;
    border-radius: 100px;
    width: 100%;
}

.main {
    flex: 1 0 auto;
  }

.lever:after{
    color: #403038;
}

::placeholder{
    color: #403038;
}

.hover-text{
    font-size: large; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}

.landing-center{
    font-size: large; 
    position: absolute; 
    top: 40%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}

.page-footer{
    background-color: rgba(0, 0, 0, 0);
}